

.main-container{
    max-width: 960px;

    margin-top: 0px;
    margin-bottom: 0px;

    margin-left: auto;
    margin-right: auto;
}


.main-container nav{
    width: 30%;
    float:left;
}


.main-container .main{

    width: 70%;
    float: left;

}


.main-container header{
    padding: 10px 10px;
    background-color: #eeeeee;
    border-bottom: 1px;
    border-color: #cccccc;
    margin-bottom: 30px;
}

.main-container header h1{

    width: 70%;
    font-size: 24px;
    float: right;
    text-align: right;
    margin-top: 10px;

}

.main-container footer{
   clear: both;
    padding-bottom: 20px;
    padding-top: 20px;

    padding-left: 10px;
    padding-right: 10px;

    background-color: #eeeeee;

    border-top: 1px;
    border-color: #cccccc;
    font-size: 13px;
}


#logo{
    width: 30%;
    font-size: 25px;
    font-weight: bold;
}

#logo img{
    width: 94px;
    font-size: 25px;
    vertical-align: middle;
}

nav ul{
    list-style-type: none;
}

nav ul a{
    padding: 5px 5px;
    margin-bottom: 0px;
    display: block;
}

div.province{
    width: 30%;
    float: left;
    margin: 8px 8px;
    height: 310px;
}


div.province .description{
    max-height: 165px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 8px 8px;
}

div.province a{
    display: block;
    text-align: center;
    background-color: #555555;
    color:#eeeeee;
    margin-bottom: 0px;
    padding: 5px 5px;
}

img.flag{
    width: 100%;
}


